body {
    background-color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: aliceblue;
    z-index: 0;
}

h1 {
    font-size: 4vw;
    padding: 0;
    margin: 0;
    text-align: center;
    margin: 6vh;
}

table {
    width: 70vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-spacing: 0;
    align-self: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2vw; /* Add this line to set rounded corners */
    border-collapse: separate; /* Add this line to collapse the borders */
    overflow: hidden; /* Add this line to hide the overflow */
    border: 0.75vh solid limegreen;
}
table thead tr {
    color: limegreen;
}

table thead tr th {
    padding: 1vw;
    border: 1px solid limegreen;
}

table tbody tr {
    color: aliceblue;
    border: 1px solid limegreen;
}

table tbody tr td {
    padding: 1vw;
    border: 1px solid limegreen;
    text-align: center;
}

p {
    font-size: 2vw;
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
}

/* Header style */
header {
    background-color: #000000;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4);
    align-items: center;
    overflow: auto;
    position: sticky;
    top: 0; /* Add this line to make the header sticky */
}

nav {
    display: flex;
    align-items: center;
    justify-content: start;
    position: sticky;
    top: 0; /* Add this line to make the nav bar sticky */
}

nav img {
    height: 7.5vh;
    width: 7.5vh;
    margin-left: 1vw;
}

nav ul {
    background-color: #000000;
    list-style-type: none;
    padding-top: 4vh;
    padding-bottom: 4vh;
    margin-left: 2vw;
    margin-right: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 0;
    margin-top: 0;
}

nav ul li a {
    color: limegreen;
    text-decoration: none;
    font-size: 1.75vw;
    font-weight: bold;
    align-self: center;
    padding: 2vh;
}

#total-price {
    text-align: center;
    font-size: 3dvw;
    margin: 4vh;
    margin-bottom: 2vh !important;
}

input {
    background-color: #666666;
    color: limegreen;
    border: none;
    border-radius: 1vw;
    padding: 1vw;
    font-size: 2vw;
    margin: 1vw;
    cursor: pointer;
    font-weight: bold;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5vw;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
