/* Header style */
header {
    background-color: #000000;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4);
    align-items: center;
    overflow: auto;
    position: sticky;
    top: 0; /* Add this line to make the header sticky */
    z-index: 99;
}

nav {
    display: flex;
    align-items: center;
    justify-content: start;
    position: sticky;
    top: 0; /* Add this line to make the nav bar sticky */
}

nav img {
    height: 7.5vh;
    width: 7.5vh;
    margin-left: 1vw;
}

nav ul {
    background-color: #000000;
    list-style-type: none;
    padding-top: 4vh;
    padding-bottom: 4vh;
    margin-left: 2vw;
    margin-right: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 0;
    margin-top: 0;
}

nav ul li a {
    color: limegreen;
    text-decoration: none;
    font-size: 1.75vw;
    font-weight: bold;
    align-self: center;
    padding: 2vh;
}

/* Main style */
body {
    background-color: #333333;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

#searchdiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#search {
    width: 50vw;
    align-self: center;
    display: flex;
    text-align: center;
    border-radius: 1vw;
    height: 7vh;
    font-size: 1.5vw;
    font-weight: bold;
}

table {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-collapse: separate;
    border-spacing: 1vw;
}

table tbody {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    table-layout: fixed;
}

table thead {
    align-items: center;
    text-align: center;
    align-self: center;
}

table thead tr {
    align-self: center;
    align-items: center;
    text-align: center;
    font-size: 5vh;
}

table tbody tr td img {
    height: 15vh;
    width: 15vh;
    border-radius: 2vh;
}

table tbody tr td {
    background-color: #666666;
    border-radius: 4vh;
    padding: 1vw;
    width: calc(100% / 5);
    height: 100%;
    vertical-align: top;
    direction: inherit;
    position: relative;
}

table tbody tr td .product-container-pre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #666666;
    height: 29vw; /* Adjust the height as needed */
}

table tbody tr td .product-container {
    vertical-align: top;
    text-align: center;
    height: 100%; /* Adjust the height as needed */
}

table tbody tr td .product-container-bottom {
    display: flex;
    bottom: 0;
    align-items: center;
    flex-direction: column;
}
table tbody tr td .product-container-bottom input {
    margin: 1vh;
    width: 13vw;
    border-radius: 1vw;
    height: 5vh;
    background-color: #333333;
    color: aliceblue;
    text-align: center;
    border: none;
    align-items: center;
}

table tbody tr td .product-container-bottom p {
    margin: 0;
    padding: 0;
}

table tbody tr {
    justify-content: space-between;
    align-self: center;
    width: 100%;
}

button {
    background-color: #333333;
    color: limegreen;
    border-radius: 1vw;
    border: none;
    padding: 2vh;
    font-size: 3vh;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 1vh;
    width: 13vw;
    height: 9vh;
}

.error-message {
    color: red;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.success-message {
    color: limegreen;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-out {
    transition: opacity 1s ease-out;
    opacity: 0;
}
