<!-- FILEPATH: /C:/Users/Felix/OneDrive - Helmholtz-Gymnasium/Desktop/GitHub/PraktikumSAP2/templates/basket.html -->

<!DOCTYPE html>
<html>
    <head>
        <title>Webshop Basket</title>
        <meta charset="utf-8" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='basket.css') }}"
        />
        <viewport content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <header>
            <nav>
                <img
                    class="logo"
                    src="http://127.0.0.1:5000/get_image/utility/logo.png"
                    alt="Logo"
                />
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Produkte</a></li>
                    <li><a href="/contact">Kontakt</a></li>
                    <li><a href="/basket">Warenkorb</a></li>
                </ul>
            </nav>
        </header>

        <h1>Dein Warenkorb</h1>
        <table id="basket-table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <!-- basket products inserted here -->
            </tbody>
        </table>
        <p id="total-price">Total:</p>

        <form action="/checkout" method="GET">
            <input type="submit" value="Jetzt bezahlen!" />

        <script src="{{url_for('static', filename='basket.js')}}"></script>
    </body>
</html>
