<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Checkout</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='checkout.css') }}"
        />
    </head>
    <body>
        <header>
            <nav>
                <img
                    class="logo"
                    src="http://10.183.210.108:5000/get_image/utility/logo.png"
                    alt="Logo"
                />
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Produkte</a></li>
                    <li><a href="/contact">Kontakt</a></li>
                    <li><a href="/basket">Warenkorb</a></li>
                </ul>
            </nav>
        </header>
        <h1>Checkout</h1>
        <button id="pay">Jetzt Bezahlen!</button>
        <p id="status"></p>

        <script src="{{url_for('static', filename='checkout.js')}}"></script>
    </body>
</html>
