<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Webstore</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='products.css') }}"
        />
    </head>
    <body>
        <header>
            <nav>
                <img
                    class="logo"
                    src="http://127.0.0.1:5000/get_image/utility/logo.png"
                    alt="Logo"
                />
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Produkte</a></li>
                    <li><a href="/contact">Kontakt</a></li>
                    <li><a href="/basket">Warenkorb</a></li>
                </ul>
            </nav>
        </header>

        <h1>Products</h1>

        <script src="{{url_for('static', filename='products.js')}}"></script>
    </body>
</html>
